html
  head
    title #{title}
  body
    h2 https://atweibo.herokuapp.com/#[strong(style="color:red;") {uid}]/#[strong(style="color:blue;") {status_id}]
    h3 Contoh:
    p weibo url: https://www.weibo.com/#[strong(style="color:red;") 6319922675]/#[strong(style="color:blue;") K23TzEaKU]
    p download url: https://atweibo.herokuapp.com/#[strong(style="color:blue;") K23TzEaKU]
    h3 Contoh Mobile:
    p weibo url: https://m.weibo.cn/status/#[strong(style="color:blue;") K23TzEaKU]
    p download url: https://atweibo.herokuapp.com/#[strong(style="color:blue;") K23TzEaKU]