html
  head
    title #{title}
  body
    h2 https://weibo-downloader.herokuapp.com/#[strong(style="color:blue;") {status_id}]
    p Website ini berpotensi error, lemot, dan berbagai macam problem lainnya.
    p Author tidak bertanggung jawab atas apapun yang terjadi terhadap pengguna ketika menggunakan website ini 
    br
    h3 Cara Download:
    p weibo url: https://www.weibo.com/#[strong(style="color:red;") 6319922675]/#[strong(style="color:blue;") K23TzEaKU]
    p download url: https://weibo-downloader.herokuapp.com/#[strong(style="color:blue;") K23TzEaKU]
    h3 Cara Download Mobile:
    p weibo url: https://m.weibo.cn/status/#[strong(style="color:blue;") K23TzEaKU]
    p download url: https://weibo-downloader.herokuapp.com/#[strong(style="color:blue;") K23TzEaKU]
    br
    a(href="https://github.com/adetxt/weibo-downloader") Github Repository 